:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --btn-white-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --bg-color-active: #188CE8;
    --black-color: #000000;
    --team-bg-color: #F5F4FA;
    --rgba-color-add: rgba(255, 255, 255, 0.6);
    --color-border: #ECECEC;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--btn-white-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}


/* Header */

.page-header{
    border-bottom: 1px solid var(--color-border);
}

.page-header .container{
    display: flex;
}

.main-nav,
.site-nav{
    display: flex;
}


.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    font-family: 'Raleway', sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color)
}
.second-part {
    color: var(--black-color);
}

.site-nav .item {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .nav-item:not(:last-child),
.mobile-list .tel-item:not(:last-child){
    margin-right: 50px;
}

.site-nav .nav-item{
    position: relative;
}

.site-nav .link.current{
    color: var(--accent-color);
}

.site-nav .link.current::after{
    content: " ";
    background-color: var(--accent-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    right: 0;
}

.mobile-list{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.tel-item .item{
    display: flex;
    align-items: center;
}

.tel-item .icon{
    margin-right: 10px;
    fill: var(--primary-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-item .item:hover .icon,
.tel-item .item:focus .icon {
    fill: var(--accent-color);
}

.mobile-list .item {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .item,
.mobile-list .item{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-list .item:hover,
.mobile-list .item:focus,
.site-nav .item:hover,
.site-nav .item:focus{
    color: var(--accent-color);
}

/* Hero */

.hero{
    max-width: 1600px;
    background-color: #C4C4C4;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/photo-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    width: 696px;
    margin: auto;
    padding-bottom: 30px;
    color: var(--btn-white-color);
            
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;

}

/* BUTTON!!! */

.button{
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    padding: 10px 32px;
    font-family: inherit;
    cursor: pointer;
    min-width: 216px;
    border: transparent;
}

.button:hover,
.button:focus{
    background-color: var(--bg-color-active);
    color: var(--btn-white-color);
}

.button-primary{
    color: var(--btn-white-color);
    background: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-property: background-color, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* Наші переваги */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section{
    padding: 94px 0;
}

.features-set{
    padding-bottom: 0;
}

.features-list{
    display: flex;
}

.features-item{
    flex-basis: calc(100% / 3 - 30px);
}

.features-item:not(:last-child){
    margin-right: 30px;
}

.features-icons{
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-title{
    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 10px;
}

.features-text{
    font-size: 14px;
    line-height: 1.71;
}

/* Work */

.work-title,
.team-title,
.clients-title{
    padding-bottom: 50px;

    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.work-list{
    display: flex;
}

.work-item{
    position: relative;
}

.work-description{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--btn-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

.work-item:not(:last-child){
    margin-right: 30px;
}

/* Team */

.team{
    background: var(--team-bg-color);
}

.team-list > .list-item {
    background-color: var(--btn-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list{
    display: flex;
}

.list-item:not(:last-child){
    margin-right: 30px;
}

.team-user{
    padding-top: 30px;
    padding-bottom: 10px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-list .social-icons{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-bottom: 30px;
}

.team-list .social-item{
    width: 44px;
    height: 44px;
}

.team-list .social-item:not(:last-child) {
    margin-right: 10px;
}

.team-list .social-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-white-color);
    border-radius: 50%;
    fill: #AFB1B8;

    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list .social-link:focus,
.team-list .social-link:hover{
    background-color: var(--accent-color);
    fill: var(--btn-white-color);
}
/* .team-list .social-link:focus .social-icon,
.team-list .social-link:hover .social-icon {

}    */


/* Clients */

.clients-list{
    display: flex;
}

.clients .clients-item:not(:last-child){
    margin-right: 30px;
}

.clients .clients-link{
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:focus,
.clients-link:hover{
    border: 1px solid var(--accent-color);
}

.clients-link:focus,
.clients-link:hover{
    fill:var(--accent-color);
}



/* Footer */

.footer{
    background: var(--secondary-bg-color)
}

.footer > .container{
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo{
    margin: 0;
    padding: 0;
}

.white-part{
    color: var(--btn-white-color);
}

.address{  
    color: var(--btn-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 20px;
}

.address-list .address-item:not(:last-child){
    margin-bottom: 9px;
}

.address-list .list-item{
    color: var(--rgba-color-add);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .list-item:hover,
.address-list .list-item:focus{    
    color: var(--accent-color);
}

.secondary-container{
    display: flex;
    align-items: baseline;
}

.social-container .social-title{
    font-size: 14px;
    line-height: 1.14;
    color: var(--btn-white-color);
    padding-bottom: 20px;
}

.social-container{
    /* width: 206px;
    height: 80px; */
    margin-left: 70px;
}

.social-container .social-icons{
    display: flex;
    justify-content: center;
}

.social-container .social-item{
    width: 44px;
    height: 44px;
}

.social-container .social-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255, 255, 255, 0.1));
    border-radius: 50%;
    fill: var(--btn-white-color);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-container .social-link:focus,
.social-container .social-link:hover{
    background-color: var(--accent-color);
}

.social-container .social-item:not(:last-child){
    margin-right: 10px;
}

.mailing-form {
    margin-left: auto;
}

.mailing-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--btn-white-color);
}

.mailing-form .mail-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    color: var(--btn-white-color);

    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-form .mail-input:focus {
    outline: 1px solid var(--accent-color);
    border: transparent;
}

.mail-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.button-wrapper {
    display: inline-block;
}

.mailing-button {
    min-width: 200px;
    padding: 10px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--btn-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    transition-property: background-color, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.send-icon {
    width: 24px;
    height: 24px;
    fill: var(--btn-white-color);
    margin-left: 10px;
}


/* Модалка */

.modal-backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;
}

.modal-backdrop.is-hidden .modal{
    transform: scale(2);
}

.modal{
    width: 528px;
    height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--btn-white-color);
    transition: transform 250ms;
    border-radius: 4px;
}

.modal .close-sign{
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 50px;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 8px;
    right: 8px;
}
.close-icon {
    fill: var(--black-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover,
.close-icon:focus {
    fill: var(--accent-color);

}

.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-form {
    padding: 40px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}
.form-field:nth-child(5) {
    margin-bottom: 0;
}

.form-label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.modal-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 12px;
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;

    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    fill: var(--title-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .input-icon {
    fill: var(--accent-color);
}

.form-input:focus {
    outline: 1px solid var(--accent-color);
    border: transparent;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;  
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.check-field {
    margin-bottom: 30px;
    margin-top: 20px;
}

.checkbox-agree {
    display: flex;
    font-size: 14px;
    line-height: 1.71;
    justify-content: center;
    align-items: center;
}

.checkbox-agree .icon-wrapper {
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-agree .agree-icon {
    fill: transparent;
}

.check-field input:checked+.checkbox-agree .icon-wrapper {
    background-color: var(--accent-color);
    border: none;
}

.check-field input:checked+.checkbox-agree .agree-icon {
    fill: var(--btn-white-color);
}

.agree-link {
    color: var(--accent-color);
    padding-left: 3px;
}

.modal-button {
    min-width: 200px;
    color: var(--btn-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;

    transition-property: background-color, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* Портфоліо */

.btn-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-item:not(:last-child){
    margin-right: 8px;
}

.button-secondary {
    font-family: inherit;
    color: var(--title-text-color);
    background: var(--team-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    border: transparent;
    text-align: center;
    border-radius: 4px;
    padding: 6px 22px;

    transition-property: background-color, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary:hover,
.button-secondary:focus{
    background-color: var(--accent-color);
    color: var(--btn-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set{
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: -30px;
}

.card-set > .card-item{
    flex-basis: calc(100% / 3 - 30px);

    margin-left: 30px;
    margin-top: 30px;
}
.card-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content{
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.card-title{
    color: var(--title-text-color);    
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;

}

.card-text{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}

.card-item .overlay-wrapper{
    position: relative;
    overflow: hidden;
}

.card-description{
    font-size: 18px;
    line-height: 1.56;
    color: var(--btn-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 63px 24px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    transition-property: ;
    transition-duration: ;
    transition-timing-function: ;
}


.card-item .card-link:hover .card-description{
    transform: translateY(0%);
    opacity: 1;
}




