.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &__item:not(:last-child) {
        margin-right: 8px;
    }
}



.button-secondary {
    font-family: inherit;
    color: var(--title-text-color);
    background: var(--team-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    border: transparent;
    text-align: center;
    border-radius: 4px;
    padding: 6px 22px;

    transition-property: background-color, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--btn-white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

