.work {
    &__item:not(:last-child) {
        margin-right: 30px;
    }
}
.work__list {
    display: flex;
}

.work__item {
    position: relative;
}

.work__description {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--btn-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

