:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --btn-white-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --bg-color-active: #188CE8;
    --black-color: #000000;
    --team-bg-color: #F5F4FA;
    --rgba-color-add: rgba(255, 255, 255, 0.6);
    --color-border: #ECECEC;
}

$font-body: 'Roboto',sans-serif;
$font-logo: 'Raleway',sans-serif;